# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>List popular languages for Data Science</ul>
<ul>List commonly used libraries used by Data Scientists</ul>
<ul>List Data Science Tools</ul>
<ul>Examples of evaluating arithmetic expressions in Python</ul>

Some of the popular languages that Data Scientists use are:
<ol>Python</ol>
<ol>R</ol>
<ol>SQL</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    Pandas
</ol>
<ol>
    Matplotlib
</ol>
<ol>NumPy</ol>

Data Science Tools
|Data Science Tools|
|------------------|
|Visual Studio Code|
|TensorFlow|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(hours)

3.3333333333333335

## Author
Ana-Maria Delescu